*{
    padding:0;
    margin:0;
}
.container{
    display:flex;
    position: relative;
    overflow: hidden;
    width:100vw;
    height:100vh;
}
.left-slider{
    
    height:100%;
    width: 30%;
    top:0;
    left:0;
    transition: 0.5s ease-in-out;
    

}
.left-slider > div{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:1.2em;
    
}
.right-slider{
    height:100%;
    width:70%;
    top:0;
    transition: 0.5s ease-in-out;
    
}
.right-slider > div{
    height:100%;
    width:100%;
    
}

img{
    height: 100%;
    width:100%;
}
.buttons{
    position:absolute;
    top:50%;
    left:30%;
    z-index: 100;  
    pointer-events: auto;
    
}  

#downbutton {
    transform:translateX(-100%);
    /* border:none; */
    padding:20px;
    color:grey;
    border-radius: 5px;
    
}
#upbutton {
    
    transform:translate(-135%,-100%);
    /* border:none; */
    padding:20px;
    color:grey; 
    border-radius: 5px; 
}
#upbutton:hover, #downbutton:hover{
    color:black;
}